[submodule "lib/Utils"]
	path = lib/Utils
	url = https://github.com/gendestry/Utils.git
[submodule "lib/NewSyntaxParser"]
	path = lib/NewSyntaxParser
	url = https://github.com/gendestry/NewSyntaxParser.git
